body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', raleway;
  background-color: rgba(255, 255, 255, 0);
}



@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: Dezire;
  src: url('./public/Fonts/Stacked/Dezire.ttf') format('truetype');
}

@font-face {
  font-family: pixel;
  src: url('./public/Fonts/Pixel/pixel.ttf') format('truetype');
}

@font-face {
  font-family: raleway;
  src: url('./public/Fonts/Raleway/static/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'freigeist-medium';
  src: url(public/assets/fonts/freigeist-medium.otf);
}

@font-face {
  font-family: 'freigeist-light';
  src: url(public/assets/fonts/freigeist-light.otf);
}

@font-face {
  font-family: 'freigeist-regular';
  src: url(public/assets/fonts/freigeist-regular.otf);
}



@keyframes rotateBackground {
  0% {
    transform: perspective(800px) rotateY(0deg);
  }

  100% {
    transform: perspective(800px) rotateY(360deg);
  }
}

@keyframes lineUp {
  from {
    top: 0;
  }

  to {
    top: -100vh;
  }
}

@keyframes lineDown {
  from {
    top: -100vh;
  }

  to {
    top: 0;
  }
}

#fixed {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.333);

}

#sec {

  /* background-color: rgba(255, 255, 255, 0.333); */
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 1;
  transition: 1s all ease-in-out;

}

#secW,
#secA,
#secG {

  /* background-color: rgba(255, 255, 255, 0.333); */
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  z-index: -999;
  transition: 1s all ease-in-out;

}

#secend {

  /* background-color: rgba(255, 255, 255, 0.333); */
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 1;
  transition: 1s all ease-in-out;

}

h1,
h2 {
  margin: 0;
  padding: 0%;
  text-align: center;
}

#logo {
  position: fixed;
  top: 2%;
  left: 2%;
  height: 8vh;
  width: 4vw;
  background-image: url("./public/Images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 3px solid black;
  animation: rotateBackground 5s infinite linear;
  transform-style: preserve-3d;
  z-index: 1000;
}


#IT1 {
  position: absolute;
  top: 80%;
  left: 10%;
  height: 5vh;
  width: 4vw;
  background-image: url("./public/Images/Icons/x.png");
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}

#IT2 {
  position: absolute;
  top: 10%;
  left: 100%;
  height: 20vh;
  width: 20vw;
  background-image: url("./public/Images/Extras/clouds-rm\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: slideInLeft 2s ease-in-out forwards;
}

#IT3 {

  position: absolute;
  top: 50%;
  right: 100%;
  height: 20vh;
  width: 20vw;
  background-image: url("./public/Images/Extras/clouds-rm\ 2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: slideInRight 2s ease-in-out forwards;
}

@keyframes slideInRight {
  0% {
    right: -100%;
  }

  100% {
    right: 20%;
  }
}

@keyframes slideInBackRight {
  0% {
    right: 20%;
  }

  100% {
    right: -100%;
  }
}

@keyframes slideInLeft {
  0% {
    left: -100%;
  }

  100% {
    left: 20%;
  }
}

@keyframes slideInBackLeft {
  0% {
    left: 20%;
  }

  100% {
    left: -100%;
  }
}


.name {
  font-family: Dezire;
  letter-spacing: 35px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 85px;
  text-align: center;
}

.JTF {
  padding: 5px;
  border-radius: 20px;
  border: 10px solid black;
  text-align: center;
  font-family: pixel;
  letter-spacing: 10px;
  word-spacing: 0px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 25px;
}

.vl,
.vl1,
.vl2 {

  height: 100vh;
  position: absolute;
  margin-left: -3px;
  top: 0;
}

.vl {
  border-left: 0.3vw solid black;
  left: 88%;

}

.vl1 {
  border-left: 0.3vw solid black;
  left: 90%;
}

.vl2 {
  border-left: 0.5vw solid black;
  left: 85%;
}


#sec.show {
  opacity: 1;
}

.show {
  opacity: 1;
}

#outer {

  flex: 0 0 60%;
  align-items: center;
  justify-content: center;
  display: flex;
  line-height: 100%;
  /* Optional, to center text vertically */
  position: relative;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 6%;
  border: 3px solid rgb(145, 8, 8);
}




.noise-bg {
  background-position: left;
  position: relative;
  background-image: url("./public/Images/Extras/Petals.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
  
}

.noise-bg::before {
  background-size: contain;
  background-position: left;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./public/Images/Background/noise.jpg");
  pointer-events: none; /* Prevents the pseudo-element from capturing mouse events */
  opacity: 0.3; /* Adjust the opacity as needed */
}


#inner {

  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  height: 90%;
  width: 90%;
}

#upper {
  background-image: url("../Display/public/Images/Extras/Abstract.jpg");

  display: flex;
  position: absolute;
  top: 10px;

  height: 60%;
  width: 70%;
  background-color: #b6b6b680;
  border-radius: 9%;
}

#lower {
  display: flex;
  position: absolute;
  bottom: 10px;

  height: 30%;
  width: 70%;
  /* border-top: 2px solid rgb(0, 0, 0); */
  border-radius: 12px;

}


.line {

  height: 20vh;
  position: absolute;
  margin-left: -3px;
  top: 0;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-radius: 12px;
  border-left: 8px solid black;
  left: 30%;
  top: 5%;
}

.side {
  writing-mode: vertical-rl;
  text-orientation: upright;
}


#innerbox1 {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;

}

.MITD {
  margin: 0%;
  padding: 0;
  text-align: center;
}

div.des {
  margin: 3rem;
}

h3 {
  font-size: 25px;
  font-weight: 800;
}

h3.des {
  font-weight: 100;
  font-size: 15px;
}

#innerbox2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
  margin-left: 5vw;

}


.innerdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3%;
  width: 100%;
  background-color: rgba(255, 254, 249, 0.8);
  font-weight: 800;
  font-size: 25px;
  border-radius: 20px;
}



.slider-container {
  display: flex;
  width: 300%;
  transition: transform 0.5s ease;
}



#slide {
  position: absolute;
  height: 90%;
  width: 60%;
  opacity: 0;
  transition: 0.5s all ease-in;
}

#slide.show {
  opacity: 1;
}


#sliderbtnleft {
  background-image: url("./public/Images/Extras/right-arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  margin: 2%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: none;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding: 0 20px;
  transform: rotate(180deg);
}

#sliderbtnright {
  background-image: url("./public/Images/Extras/right-arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  margin: 2%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: none;
  top: 50%;
  left: 1;
  right: 0;
  transform: translateY(-50%);
  padding: 0 20px;
}



#rightcontainer {
  flex: 0 0 30%;
  align-items: center;
  justify-content: center;
  display: flex;
  line-height: 100%;
  /* Optional, to center text vertically */
  position: relative;
  height: 90%;

  display: flex;
  /* border-right: 3px solid black; */
}

#leftcontainer {
  flex: 0 0 60%;
  align-items: center;
  justify-content: center;
  display: flex;
  line-height: 100%;
  /* Optional, to center text vertically */
  position: relative;
  height: 90%;

  display: flex;
  /* border-left: 3px solid black; */
}

.SerTxt {
  display: inline-block;
  transform: rotate(-90deg);
  font-size: 30px;
  font-weight: bold;
  margin: 2%;
}


ul.services {
  background-color: rgb(255, 255, 255);
  background-image: url("./public/Images/Background/noise.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: hard-light;

  border-radius: 20px;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  margin: 0;
}

li {
  font-size: 22px;
  display: grid;
  border: 3px solid black;
  height: 30%;
  width: 70%;
  margin: 1%;
  /* padding: 5px; */
  border-radius: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

section.Bgwhite {
  background-color: white;
}


.circle {
  margin-bottom: 1vh;
  margin-top: 1vh;
  height: 2vh;
  width: 1vw;
  border-radius: 50%;
  background-color: black;
}


.Sdes {
  font-size: 10px;
  font-weight: 100;
}

.hide {
  height: 0;
  width: 0;
  opacity: 0;
}


#end {
  color: white;
  font-size: 35px;
  font-family: Dezire;
}

body,
button,
input {

  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: white;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: rgba(255, 255, 255, 0.456);
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: white;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

#sec.addborder {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 1;
  display: flex;
}


div.pixel {
  /* margin-top: 40px; */
  text-align: center;
  font-family: pixel;
  font-size: 35px;
}

div.cards {
  text-align: center;

  height: fit-content;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-evenly;
}

.card2 {
  border-radius: 20px;
  border: 6px solid rgba(60, 0, 0, 0.811);
  ;
  overflow: hidden;
  margin: 2%;
  width: 25vw;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.109);
}

.card2:hover {
  border: 6px solid rgb(115, 0, 0);
  ;
  overflow: hidden;
  width: 26vw;
  height: 80%;
  box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.64);
  background-color: rgba(255, 255, 255, 0.371);
}

div.normal {
  font-size: 20px;
  font-weight: 900;
  margin: 5px;
}

div.umar {
  background-image: url("./public/Images/Charachters/bert.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 60%;

}

div.umar:hover {

  background-image: url("./public/Images/Charachters/bert.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;

}

div.aaron {

  background-image: url("./public/Images/Charachters/jhonny.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 60%;

}

div.aaron:hover {

  background-image: url("./public/Images/Charachters/johnny.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;

}

div.nathan {

  background-image: url("./public/Images/Charachters/rick.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 60%;

}

div.nathan:hover {

  background-image: url("./public/Images/Charachters/rick.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;

}

#glcanvas {

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

}

#circle {

  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  /* background-color: rgba(255, 21, 21, 0.811); */
  border: 3px solid rgba(255, 21, 21, 0.811);
  pointer-events: none;
  z-index: 9999;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;

}

.blur {

  filter: blur(5px);

}


.first {

  background-image: url("../Display/public/Images/Extras/Cloud-rm.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;

}

.first::before {

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(300px);
  /* Adjust the blur amount as desired */
}


#portfolio {
  display: flex;
  width: 90%;
  height: 90%;
}


#page {
  background-color: rgba(255, 255, 255, 0.66);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#left {

  /* border: 3px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 95%;
  width: 10%;
  border-radius: 20px;
}

#right {
  margin-left: 10px;
  border: 3px solid black;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 95%;
  width: 85%;
  border-radius: 20px;
  display: flex;
  background-color: white;
}

.maintext {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 20px;

}

.block {
  width: 30%;
  padding: 10px;
  display: block;

}

.des2 {
  font-size: 14px;
  font-weight: 500;

}

#innerRight {
  height: 75%;
  width: 50%;
  margin: 10px;
  border-radius: 10px;
  background-image: url("../Display/public/Images/website/6374140.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;

}

.linear {

  writing-mode: vertical-rl;
  text-orientation: upright;
}

.title01 {
  color: white;
  padding: 15px;
  border-radius: 20px;
  font-size: 20px;
}



.noise {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../Display/public/Images/Extras/Paint.jpg");
}

/* .hovered {
 
} */

.showbox {
  opacity: 1;
}



.margin {
  margin: 50px;
}



.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  /* Adjust the gap value as desired */
  height: 80vh;
}

.grid-item {

  padding: 20px;
  text-align: center;
}

.nested-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  /* Adjust the gap value as desired */
  height: 100%;
}

.text {
  position: absolute;
  top: 0;
  left: 1;
  font-weight: 900;
}


.nested-grid-item {
  position: relative;
  background-image: url("./public/game-console.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 10px;
  border: 2px solid rgb(150, 45, 45);
  /* Adjust the background color as desired */
  padding: 10px;
  text-align: center;
  transition: 0.3s all ease-in-out;
}


.nested-grid-item:hover {
  box-shadow: 0 0 10px rgba(116, 58, 58, 0.87);
  background-size: 120px;
}

.info {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: aquamarine;
}



.center {
  position: relative;
}

h2 {

  font-size: 22px;
  text-align: center;
}

.full-screen-element {
  opacity: 0;
  position: absolute;
  top: 5%;
  /* Adjust the top position as needed */
  left: 0%;
  /* Adjust the left position as needed */
  width: 90%;
  /* Adjust the width percentage as needed */
  height: 90%;
  /* Adjust the height percentage as needed */
}


.element1,
.element2,
.element3,
.element4,
.element5,
.element6 {
  display: flex;
  border-radius: 10px;
  /* border: 2px solid rgb(150, 45, 45); */
}


.first-section {
  position: relative;
  align-items: start;
  justify-content: left;
  width: 40%;
  margin: 5px;

}

.second-section {
  width: 50%;
  margin: 5px;
  background-image: url("./public/Phone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.game-title {
  font-weight: 800;
  text-align: left;
  font-size: 1.5rem;
}



.game-des {
  font-weight: 400;
  margin-top: 15px;
  text-align: left;
  font-size: 1.2rem;
}

.play {
  margin: 30px 0 0 0;
  display: block;
  left: 0;
  top: 35%;
  background-color: aqua;
  font-weight: 900;
  border: none;
  background-color: rgb(197, 103, 103);

  height: 7vh;
  width: 7vw;
  text-decoration: none;
  border-radius: 5px;
}



.desc {
  font-weight: 200;
  text-align: left;
  margin-top: 10px;
}


.show {
  opacity: 1;
}




.section-title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 26px;
  font-weight: 400;


}


.game-icon {
  background-color: rgba(197, 103, 103, 0.445);
  height: 20%;
  width: 40%;
  border-radius: 10px;
  background-position: center;
  background-size: 60px;
  background-repeat: no-repeat;
  background-image: url("./public/game-console.png");
}


.games-section {
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: #eee2e2;
}


.slash {
  background-image: url("./public/Images/Background/noise.jpg");
  background-position: center;
  background-blend-mode: color-burn;
  background-size: cover;
  border-radius: 10%;
  display: inline-block;
  transform: rotate(20deg);
  position: absolute;
  top: 10%;
  left: 80%;
  z-index: 0;
  height: 70%;
  width: 30%;
}

.dd {
  margin: 3px 0 0 0;
}

.blue {
  /* background-color: rgb(209, 236, 56); */
  background-color: rgb(248, 190, 182);
}

.red {
  background-color: rgb(250, 211, 211);
}


.offset {
  top: 30%;
  left: 65%;
}




.sticker-wrapper:hover #explore-text-1 {
  background-color: transparent;
  color: red;

}




@import url("https://fonts.googleapis.com/css?family=Titan+One");
:root {
  --h1-font-size: 30vmin;
  --primary-color: rgb(245, 0, 0);
  --secondary-color: rgb(207, 29, 29);
  --tiger-image: url(https://media.giphy.com/media/wdfxqCQVGHDlC/giphy.gif);
  --texture-image: url(https://media.giphy.com/media/wdfxqCQVGHDlC/giphy.gif);
}



.text-wrapper {
  position: relative;
}

h1.anim{
  background-size: contain;
  display: flex;
  flex-direction: column;
  font-family: "Titan One", sans-serif;
  font-size: var(--h1-font-size);
  text-transform: uppercase;
  background: center/cover var(--secondary-color) var(--tiger-image);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
h1:last-child {
  position: absolute;
  top: 0;
  left: 0;
  background-image: var(--texture-image);
  mix-blend-mode: soft-light;
}
h1 span {
  font-size: calc(var(--h1-font-size) / 1.825);
}


#sliderbtnleft,
#sliderbtnright {
  --c:  #df4646; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
#sliderbtnleft:hover,
#sliderbtnright:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
#sliderbtnleft:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}



#sliderbtnleft,
#sliderbtnright  {
  font-family: system-ui, sans-serif;
  font-size: 3.5rem;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: none;
}